.item {
  border: 1px solid black;
  border-radius: 1rem;

  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.group,
.buttons_container {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin-bottom: 1rem;
}

.group > *:first-child {
  flex: 30% 0 0;
}

.group > * {
  flex: 50% 0 0;
}

.buttons_container {
  justify-content: center;
  gap: 2rem;
}

.buttons_container > button {
  flex: 35% 0;
}
